<!--
  Generated template for the HermandadesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="title">{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div *ngIf="hermandades;else templateElse">
<ion-list *ngFor="let hermandad of hermandades">
  
  <ion-item (click)="goToRoute(hermandad)">{{hermandad.nombre}}</ion-item>
    
</ion-list>
        </div>
    <ng-template #templateElse>
        Todavia no tenemos informacion sobre tu ciudad.Disculpe las molestias
    </ng-template>
</ion-content>
